.topnav {
    overflow:hidden;
    background-color: #050505;
    top:0;
    padding-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .topnav a {
    float: left;
    font-family: Arial;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  body{
    background-color: #101010;
  }